body {
    background-image: url(/images/oriental-tiles.png);

}

hr {
    height: 8px;
    background-color: #012641;
}

main img {
    float: left;
    padding: 20px;
    padding-bottom: 12px;
}

.copyright-container {
    
    
    background-color: rgb(13, 24, 61);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
    color: white;
   
  }

  

